<mat-card class="signed-out-wrapper">
    <h2 class="full-width text-center">Reset Password</h2>
    <p class="full-width text-center">Please enter your new password</p>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="reset_password()">
        <mat-form-field class="full-width">
            <input 
            matInput 
            placeholder="Password" 
            type="password" 
            formControlName="password">
            <mat-error *ngIf="resetPasswordForm.get('password').hasError('required')">
                Password is <strong>required</strong>
            </mat-error> 
        </mat-form-field>
        <mat-form-field class="full-width">
            <input
            matInput 
            placeholder="Confirm Password" 
            type="password" 
            formControlName="conf_password">
            <mat-error *ngIf="resetPasswordForm.get('conf_password').hasError('required') && !resetPasswordForm.get('conf_password').value">
                Confirm Password is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="resetPasswordForm.get('conf_password').hasError('password_match') && resetPasswordForm.get('conf_password').value">
                Your passwords doesn't <strong>matched</strong>
            </mat-error> 
        </mat-form-field>
        <div class="btn-wrapper">
            <button mat-raised-button color="primary" type="submit" >Reset password</button>
        </div>
    </form>
</mat-card>