<md-card class="signed-out-wrapper">
    <h2 class="full-width text-center">Reset Password</h2>
    <p class="full-width text-center">Please enter your new password</p>
    <form name="login_form">
        <md-form-field class="full-width">
            <input mdInput placeholder="Password" type="password" [(ngModel)]="password" name="password" required>
            <!-- <md-error *ngIf="emailFormControl.hasError('incorrect')">
                Please enter your correct email
            </md-error>
            <md-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
            </md-error> -->
        </md-form-field>
        <md-form-field class="full-width">
            <input mdInput placeholder="Confirm password" type="password" [(ngModel)]="conf_password" name="conf_password" required>
            <!-- <md-error *ngIf="emailFormControl.hasError('incorrect')">
                Please enter your correct email
            </md-error>
            <md-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
            </md-error> -->
        </md-form-field>
        <div class="btn-wrapper">
            <a routerLink="/login" md-raised-button>Login</a>
            <button md-raised-button color="primary" (click)="reset-password()" class="float-right" >Reset password</button>
        </div>
    </form>
</md-card>