<md-card class="signed-out-wrapper">
    <h2 class="full-width text-center">Reset Password</h2>
    <p class="full-width text-center">Please enter your new password</p>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="reset_password()">
        <md-form-field class="full-width">
            <input 
            mdInput 
            placeholder="Password" 
            type="password" 
            formControlName="password">
            <md-error *ngIf="resetPasswordForm.get('password').hasError('required')">
                Password is <strong>required</strong>
            </md-error> 
        </md-form-field>
        <md-form-field class="full-width">
            <input
            mdInput 
            placeholder="Confirm Password" 
            type="password" 
            formControlName="conf_password">
            <md-error *ngIf="resetPasswordForm.get('conf_password').hasError('required') && !resetPasswordForm.get('conf_password').value">
                Confirm Password is <strong>required</strong>
            </md-error>
            <md-error *ngIf="resetPasswordForm.get('conf_password').hasError('password_match') && resetPasswordForm.get('conf_password').value">
                Your passwords doesn't <strong>matched</strong>
            </md-error> 
        </md-form-field>
        <div class="btn-wrapper">
            <button md-raised-button color="primary" type="submit" >Reset password</button>
        </div>
    </form>
</md-card>