/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #eee;
}
.full-width{
    width: 100%
}
.text-center{
    text-align: center
}
.text-left{
    text-align: left
}
.text-right{
    text-align: right
}
.float-right{
    float: right
}
.float-left{
    float: left
}
.signed-out-wrapper{
    max-width: 400px;
    margin: 10% auto 50px;
    .btn-wrapper{
        clear: both;
        padding-top: 15px;
    }
}