<md-card class="signed-out-wrapper">
    <h2 class="full-width text-center">Forget Password</h2>
    <p class="full-width text-center">Please enter your email to recieve password reset link</p>
    <form [formGroup]="forgetPasswordForm" (ngSubmit)="forget_password()">
        <md-form-field class="full-width">
            <input
            mdInput 
            placeholder="Email" 
            type="text" 
            formControlName="email">
            <md-error *ngIf="forgetPasswordForm.get('email').hasError('email') && forgetPasswordForm.get('email').value">
                Please enter a <strong>valid</strong> email
            </md-error>
            <md-error *ngIf="forgetPasswordForm.get('email').hasError('required') && !forgetPasswordForm.get('email').value">
                Email is <strong>required</strong>
            </md-error> 
        </md-form-field>
        <div class="btn-wrapper">
            <a routerLink="/login" md-raised-button>Login</a>
            <button md-raised-button color="primary" class="float-right" >Submit</button>
        </div>
    </form>
</md-card>