<mat-card class="signed-out-wrapper">
    <h2 class="full-width text-center">Forget Password</h2>
    <p class="full-width text-center">Please enter your email to recieve password reset link</p>
    <form [formGroup]="forgetPasswordForm" (ngSubmit)="forget_password()">
        <mat-form-field class="full-width">
            <input
            matInput 
            placeholder="Email" 
            type="text" 
            formControlName="email">
            <mat-error *ngIf="forgetPasswordForm.get('email').hasError('email') && forgetPasswordForm.get('email').value">
                Please enter a <strong>valid</strong> email
            </mat-error>
            <mat-error *ngIf="forgetPasswordForm.get('email').hasError('required') && !forgetPasswordForm.get('email').value">
                Email is <strong>required</strong>
            </mat-error> 
        </mat-form-field>
        <div class="btn-wrapper">
            <a routerLink="/login" mat-raised-button>Login</a>
            <span class="gap-filler"></span>
            <button mat-raised-button color="primary" class="" >Submit</button>
        </div>
    </form>
</mat-card>