<md-card class="signed-out-wrapper">
    <h2 class="full-width text-center">Forget Password</h2>
    <p class="full-width text-center">Please enter your email to recieve password reset link</p>
    <form name="login_form">
        <md-form-field class="full-width">
            <input mdInput placeholder="Enter your email" type="email" [(ngModel)]="email" name="email" required>
            <!-- <md-error *ngIf="emailFormControl.hasError('incorrect')">
                Please enter your correct email
            </md-error>
            <md-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
            </md-error> -->
        </md-form-field>
        <div class="btn-wrapper">
            <a routerLink="/login" md-raised-button>Login</a>
            <button md-raised-button color="primary" (click)="forget-password()" class="float-right" >Submit</button>
        </div>
    </form>
</md-card>